<!-- <ecom-product></ecom-product> 
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col">
        <app-product></app-product>
       </div>
    </div> 
  <router-outlet></router-outlet>
</div> -->

<ecom-nav></ecom-nav>

<div class="container">
  

  <div class="row">
    <div class="col">
     <ecom-product-list></ecom-product-list>
    </div>
  </div>

  <!-- <div class="row">
    <div class="col">
     <ecom-cart></ecom-cart>
    </div>
  </div> -->

  <div class="row">
    <div class="col">
      <ecom-footer></ecom-footer>
    </div>
  </div>
</div>